body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  position: relative;
  height: 100%;
}

.background-half {
  position: absolute;
  width: 100%;
  height: 50%;
}

.background-half.blue {
  top: 0;
  background-color:blue;
}

.background-half.white {
  bottom: 0;
  background-color: white;
}
